body {
	height: 100vh;
	font-family: 'Roboto', sans-serif !important;
}

.title {
	text-transform: uppercase;
	color: #fff;
	font-size: 6em;
	letter-spacing: 7px;
}

.gradient-code {
	color: #fff;
}



input {
	width: 45%;
	display: inline-block;
	height: 100px;
	border: none;
}